# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env/
venv/
.venv/

# Environment files
.env
.env.*

# IDE and system files
.vscode/
.idea/
.DS_Store

# Flask debug files
instance/
*.db
