# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env/
venv/
.venv/

# Environment files
.env
.env.*

# IDE and system files
.vscode/
.idea/
.DS_Store

# Flask debug files
instance/
*.db
# Secrets
.env
*.key
Source_code/backend/test.py
# Ignore secret and environment files
.env
*.env
test.py
__pycache__/
*.sqlite3
database.db
